
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">

    <title>CaseWorker Real Time Reporting</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<style>
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.jumbotron-small {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;


  padding-bottom: 10px;
  font-size: 20px;
  background: #e5e5e5;
  text-align: center;

}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

</style>
    <div class="container">
      <div class="header">
        <h3 class="text-muted"><%= @team %>
        <div class="pull-right">
          <small><%= @date %></small>
        </div></h3>
      </div>

      <div class="jumbotron" <%= @greenbackground %>>
        <h1>Units Marked Off</h1>
        <h1 class="text-danger"><%= @unitsmarkedoff %></h1>
      </div>

        <div class="col-md-3 jumbotron jumbotron-small" style="background: #FF0066">
            <b>FR</b> <br /><%= @frunitsmarkedoff %>
        </div>
        <div class="col-md-3 jumbotron jumbotron-small" style="background: #FFFF00">
            <b>DFL</b> <br /><%= @dflunitsmarkedoff %>
        </div>
        <div class="col-md-3 jumbotron jumbotron-small" style="background: #00CCFF">
            <b>TP</b> <br /><%= @tpunitsmarkedoff %>
        </div>
        <div class="col-md-3 jumbotron jumbotron-small" style="background: #66FF66">
            <b>DLG</b> <br /><%= @dlgunitsmarkedoff %>
        </div>

      <div class="col-md-6 jumbotron jumbotron-small">
          <b>Daily Target:</b> <%= @daily_target %>
      </div>
      <div class="col-md-6 jumbotron jumbotron-small">
          <b>Resource:</b> <%= @available_resource %>
      </div>




    <form role="form" method="POST">
      <label for="exampleInputEmail1">Update Today's Available Resource</label>
      <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input class="form-control" id="available_resource" name="available_resource">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </div>
    </div>



</form>

</div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
